.service {
   padding: 2rem;
   line-height: 1.6;
   color: white;
   width: 80%;
   margin-left: 72px;
 }
 
 .service h1 {
   margin-bottom: 1.5rem;
   text-align: center;
 }
 
 .service-list {
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
 }
 
 .service-item {
   padding: 1rem;
   border: 1px solid #ddd;
   border-radius: 8px;
   background-color: #15043b;
 }
 
 .service-item h2 {
   margin-bottom: 0.5rem;
 }
 
 .service-item p {
   margin: 0;
 }
 